<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
		<title></title>
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/style.min.css" />

	  <!-- Device Size Detection -->
	  <script type="text/javascript">
	      var hashRoot = '/page/';
	      var init = '';
	      var hash = window.location.hash.split('/');
	      var hashVal = hasfh[2];
	  </script>
	  <script async="async" type="text/javascript" src='//consent.truste.com/notice?domain=oracle.com&c=teconsent&js=bb&noticeType=bb&text=true' crossorigin></script>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>    
	  <script src="js/modernizr.custom.js"></script>    
	  <!-- Start SiteCatalyst code -->
	  <script language="JavaScript" type="text/javascript">
	      var s_html5videocta = "true";
	  </script>
	  <script language="JavaScript" src="https://www.oracleimg.com/us/assets/metrics/ora_ocom.js"></script>
	  <!-- End SiteCatalyst code -->		
	</head>
	<body>
		<div style='border: solid 1px black; '>
			<h1>WELCOME!</h1>
		</div>

		<div style='border: solid 1px black;' id='intro'>
			<h1>Tell us about your organization!</h1><br>
			<h2>A. Which of the following regions is your main place of work?</h2>
			 	<form>
			 		<div>
				 		<label for='NA'>NA</label>
					  <input 
					  	type="radio" 
							v-model="region"
					  	value='NA'
					  	id='NA'
					  	> 
				  </div>
				  <div>
					  <label for='SA'>SA</label>
					  <input 
					  	type="radio" 
					  	value='SA' id='SA' 
							v-model="region"
					  >
				  </div>
				  <div>
					  <label for='EU'>EU</label>
					  <input 
					  	type="radio" 
					  	value='EU' 
							v-model="region"
					  >
					</div>
				  <div>
					  <label for='ME'>ME</label>
					  <input 
					  	type="radio" 
					  	value='ME' 
							v-model="region"
					  >
					</div>
				  <div>
					  <label for='AP'>AP</label>
					  <input 
					  	type="radio" 
					  	value='AP' 
							v-model="region"
					  >
					</div>
				  <div>
					  <label for='Other'>Other</label>
					  <input 
					  	type="radio" 
					  	value='Other' 
							v-model="region"
					  >
					</div>												
				</form> 	
				<h2>B. In which of the following industries does your organization operate</h2>
			 	<form>
			 		<div>
				 		<label for='Auto'>Auto</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='auto'				  
					  	> 
				  </div>
			 		<div>
				 		<label for='Fin'>Financial Services</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='fin'
					  	> 
				  </div>
			 		<div>
				 		<label for='cons'>Consumer Packaged Goods</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='cons'
					  	> 
				  </div>	
			 		<div>
				 		<label for='ener'>Energy/Utilities</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='ener'
					  	> 
				  </div>		
			 		<div>
				 		<label for='health'>Healthcare</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='health'
					  	> 
				  </div>		
			 		<div>
				 		<label for='insur'>Insurance</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='insur'
					  	> 
				  </div>		
			 		<div>
				 		<label for='oil'>Oil and Gas</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='oil'
					  	> 
				  </div>		
			 		<div>
				 		<label for='ret'>Retail</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='ret'
					  	> 
				  </div>		
			 		<div>
				 		<label for='tel'>Telecoms/Media/Entertainment</label>
					  <input 
					  	type="radio" 
							v-model="sector"
					  	value='tel'
					  	> 
				  </div>						  			  			  			  			  			  			  		  
				</form>
				<h2>C. What is the annual revenue of your organization globally?</h2>
				<form>
			 		<div>
				 		<label for='rev'>less than 1bn</label>
					  <input 
					  	type="radio" 
							v-model="rev"
							value='low'
					  	> 
				  </div>
			 		<div>
				 		<label for='rev2'>1bn or over</label>
					  <input 
					  	type="radio" 
					  	value='high' 
							v-model="rev"
					  	> 
				  </div>		  
				</form>

			{{ region }} //
			{{ sector }} //
			{{ rev }}
			<br>
		</div>

		<div style='border: solid 1px black;' id='clo2'>
			<h1>Cloud Journey Position (CLO2)</h1>
			<h2>What  are  you  currently  doing  in  your  organization  regarding  cloud  services,  and  what  are  you  planning  to  do?</h2>
			<div>			
				<form>
					<b>A.  Migrating  apps,  databases  or  workloads  to  the  cloud</b>    
			 		<div class='inline'>
				 		<label for='CL02a'>Not Doing</label>
					  <input 
					  	type="radio" 
							v-model="CL02.a"
							value='3'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02a'>Planning</label>
					  <input 
					  	type="radio" 
							v-model="CL02.a"
							value='2'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02a'>Currently</label>
					  <input 
					  	type="radio" 
							v-model="CL02.a"
							value='1'
					  	> 
				  </div>
				</form>
			</div>
			<div>		
				<form>
					<b>B.  Developing  and  testing  our  apps  in  the  cloud</b>    
			 		<div class='inline'>
				 		<label for='CL02b'>Not Doing</label>
					  <input 
					  	type="radio" 
							v-model="CL02.b"
							value='3'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02b'>Planning</label>
					  <input 
					  	type="radio" 
							v-model="CL02.b"
							value='2'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02b'>Currently</label>
					  <input 
					  	type="radio" 
							v-model="CL02.b"
							value='1'
					  	> 
				  </div>
				</form>
			</div>
			<div>
				<form>
					<b>C.  Integrating  cloud  with  our  in-house  infrastructure,  or  with  other  clouds</b>    
			 		<div class='inline'>
				 		<label for='CL02c'>Not Doing</label>
					  <input 
					  	type="radio" 
							v-model="CL02.c"
							value='3'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02c'>Planning</label>
					  <input 
					  	type="radio" 
							v-model="CL02.c"
							value='2'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02c'>Currently</label>
					  <input 
					  	type="radio" 
							v-model="CL02.c"
							value='1'
					  	> 
				  </div>
				</form>
			</div>
			<div>
				<form>
					<b>D.  Managing  and  storing  data  in  the  cloud</b>    
			 		<div class='inline'>
				 		<label for='CL02d'>Not Doing</label>
					  <input 
					  	type="radio" 
							v-model="CL02.d"
							value='3'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02d'>Planning</label>
					  <input 
					  	type="radio" 
							v-model="CL02.d"
							value='2'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02d'>Currently</label>
					  <input 
					  	type="radio" 
							v-model="CL02.d"
							value='1'
					  	> 
				  </div>
				</form>
			</div>		
			<div>		
				<form>
					<b>E.  Managing  IT  security  via  the  cloud</b>    
			 		<div class='inline'>
				 		<label for='CL02e'>Not Doing</label>
					  <input 
					  	type="radio" 
							v-model="CL02.e"
							value='3'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02e'>Planning</label>
					  <input 
					  	type="radio" 
							v-model="CL02.e"
							value='2'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02e'>Currently</label>
					  <input 
					  	type="radio" 
							v-model="CL02.e"
							value='1'
					  	> 
				  </div>
				</form>
			</div>
			<div>
				<form>
					<b>F.  Analyzing  data  in  the  cloud</b>    
			 		<div class='inline'>
				 		<label for='CL02f'>Not Doing</label>
					  <input 
					  	type="radio" 
							v-model="CL02.f"
							value='3'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02f'>Planning</label>
					  <input 
					  	type="radio" 
							v-model="CL02.f"
							value='2'
					  	> 
				  </div>
				  <div class='inline'>
				 		<label for='CL02f'>Currently</label>
					  <input 
					  	type="radio" 
							v-model="CL02.f"
							value='1'
					  	> 
				  </div>
				</form>
			</div>		
			{{CL02.a}} // {{CL02.b}} // {{CL02.c}} // {{CL02.d}} // {{CL02.e}} // {{CL02.f}}   
		</div>
		<div style='border: solid 1px black;' id='resclo2'>
			<h1>Current  and  forecast  cloud  adoption(CLO2*)</h1>		
			<div style='background-color: pink;'>
				<div class='inline' style='border: solid 1px black;'>
					<b>Doing/Migrating</b>
					<div>{{doing.a1.all}}</div>
					<div>{{d_migrate}}</div>
					<div>{{d_a}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Developing</b>
					<div>{{doing.b1.all}}</div>
					<div>{{d_dev}}</div>
					<div>{{d_b}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Integrating</b>
					<div>{{doing.c1.all}}</div>
					<div>{{d_int}}</div>
					<div>{{d_c}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Storing</b>
					<div>{{doing.d1.all}}</div>
					<div>{{d_stor}}</div>
					<div>{{d_d}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Securing</b>
					<div>{{doing.e1.all}}</div>
					<div>{{d_sec}}</div>
					<div>{{d_e}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Analysis</b>
					<div>{{doing.f1.all}}</div>
					<div>{{d_an}}</div>
					<div>{{d_f}}</div>
				</div>																	
			</div>	
			<div style='background-color: red;'>
				<div class='inline' style='border: solid 1px black;'>
					<b>Planning/Migrating</b>
					<div>{{c_migrate}}</div>
					<div>{{c_a}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Developing</b>
					<div>{{c_dev}}</div>
					<div>{{c_b}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Integrating</b>
					<div>{{c_int}}</div>
					<div>{{c_c}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Storing</b>
					<div>{{c_stor}}</div>
					<div>{{c_d}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Securing</b>
					<div>{{c_sec}}</div>
					<div>{{c_e}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Analysis</b>
					<div>{{c_an}}</div>
					<div>{{c_f}}</div>
				</div>																	
			</div>				
			<div style='background-color: lightblue;'>
				<div class='inline' style='border: solid 1px black;'>
					<b>Not Doing/Migrating</b>
					<div>{{n_migrate}}</div>
					<div>{{n_a}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Developing</b>
					<div>{{n_dev}}</div>
					<div>{{n_b}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Integrating</b>
					<div>{{n_int}}</div>
					<div>{{n_c}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Storing</b>
					<div>{{n_stor}}</div>
					<div>{{n_d}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Securing</b>
					<div>{{n_sec}}</div>
					<div>{{n_e}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>Analysis</b>
					<div>{{n_an}}</div>
					<div>{{n_f}}</div>
				</div>																	
			</div>	
		</div>
		<div style='border: solid 1px black;' id='mig6'>
			<h1>Impact  of  migration  on  company  performance</h1>
			<h2>Please  rate  the  extent  to  which  you  think  migrating  applications  and  workloads  to  the  cloud  [IF  CLO2  A  =  code  2  or  3  “will  impact”][IF  CLO2  A  =  code  1  “has  impacted”]  your  business.</h2>
			<form>
				<b>A. Application  performance</b> 
				<div class="inline">
					<label for="mig6.a">1(Much less predictable)</label> 
					<input type="radio" value="1" v-model="mig6.a">//
				</div> 
				<div class="inline">
					<label for="mig6a">2</label> 
					<input type="radio" value="2" v-model="mig6.a">//
				</div>
				<div class="inline">
					<label for="mig6a">3</label> 
					<input type="radio" value="3" v-model="mig6.a">//
				</div>
				<div class="inline">
					<label for="mig6a">4(No impact)</label> 
					<input type="radio" value="4" v-model="mig6.a">//
				</div>
				<div class="inline">
					<label for="mig6a">5</label> 
					<input type="radio" value="5" v-model="mig6.a">//
				</div>
				<div class="inline">
					<label for="mig6a">6</label> 
					<input type="radio" value="6" v-model="mig6.a">//
				</div>
				<div class="inline">
					<label for="mig6a">7(Much more predictable)</label> 
					<input type="radio" value="7" v-model="mig6.a">
				</div> 
			</form>	
			<form>
				<b>B. Application Security</b> 
				<div class="inline">
					<label for="mig6.a">1(Much less secure)</label> 
					<input type="radio" value="1" v-model="mig6.b">//
				</div> 
				<div class="inline">
					<label for="mig6a">2</label> 
					<input type="radio" value="2" v-model="mig6.b">//
				</div>
				<div class="inline">
					<label for="mig6a">3</label> 
					<input type="radio" value="3" v-model="mig6.b">//
				</div>
				<div class="inline">
					<label for="mig6a">4(No impact)</label> 
					<input type="radio" value="4" v-model="mig6.b">//
				</div>
				<div class="inline">
					<label for="mig6a">5</label> 
					<input type="radio" value="5" v-model="mig6.b">//
				</div>
				<div class="inline">
					<label for="mig6a">6</label> 
					<input type="radio" value="6" v-model="mig6.b">//
				</div>
				<div class="inline">
					<label for="mig6a">7(Much more secure)</label> 
					<input type="radio" value="7" v-model="mig6.b">
				</div> 
			</form>		
			<form>
				<b>C. Application  governance</b> 
				<div class="inline">
					<label for="mig6.a">1(Significantly harder to manage)</label> 
					<input type="radio" value="1" v-model="mig6.c">//
				</div> 
				<div class="inline">
					<label for="mig6a">2</label> 
					<input type="radio" value="2" v-model="mig6.c">//
				</div>
				<div class="inline">
					<label for="mig6a">3</label> 
					<input type="radio" value="3" v-model="mig6.c">//
				</div>
				<div class="inline">
					<label for="mig6a">4(No impact)</label> 
					<input type="radio" value="4" v-model="mig6.c">//
				</div>
				<div class="inline">
					<label for="mig6a">5</label> 
					<input type="radio" value="5" v-model="mig6.c">//
				</div>
				<div class="inline">
					<label for="mig6a">6</label> 
					<input type="radio" value="6" v-model="mig6.c">//
				</div>
				<div class="inline">
					<label for="mig6a">7(Significantly easier to manage)</label> 
					<input type="radio" value="7" v-model="mig6.c">
				</div> 
			</form>					
			<form>
				<b>D. Choice of deployment model</b> 
				<div class="inline">
					<label for="mig6.a">1(Significantly less choice)</label> 
					<input type="radio" value="1" v-model="mig6.d">//
				</div> 
				<div class="inline">
					<label for="mig6a">2</label> 
					<input type="radio" value="2" v-model="mig6.d">//
				</div>
				<div class="inline">
					<label for="mig6a">3</label> 
					<input type="radio" value="3" v-model="mig6.d">//
				</div>
				<div class="inline">
					<label for="mig6a">4(No impact)</label> 
					<input type="radio" value="4" v-model="mig6.d">//
				</div>
				<div class="inline">
					<label for="mig6a">5</label> 
					<input type="radio" value="5" v-model="mig6.d">//
				</div>
				<div class="inline">
					<label for="mig6a">6</label> 
					<input type="radio" value="6" v-model="mig6.d">//
				</div>
				<div class="inline">
					<label for="mig6a">7(Significantly more choice)</label> 
					<input type="radio" value="7" v-model="mig6.d">
				</div> 
			</form>
			<form>
				<b>E. Application integration</b> 
				<div class="inline">
					<label for="mig6.a">1(Significantly decrease ability to integrate apps)</label> 
					<input type="radio" value="1" v-model="mig6.e">//
				</div> 
				<div class="inline">
					<label for="mig6a">2</label> 
					<input type="radio" value="2" v-model="mig6.e">//
				</div>
				<div class="inline">
					<label for="mig6a">3</label> 
					<input type="radio" value="3" v-model="mig6.e">//
				</div>
				<div class="inline">
					<label for="mig6a">4(No impact)</label> 
					<input type="radio" value="4" v-model="mig6.e">//
				</div>
				<div class="inline">
					<label for="mig6a">5</label> 
					<input type="radio" value="5" v-model="mig6.e">//
				</div>
				<div class="inline">
					<label for="mig6a">6</label> 
					<input type="radio" value="6" v-model="mig6.e">//
				</div>
				<div class="inline">
					<label for="mig6a">7(Significantl increase ability to integrate apps)</label> 
					<input type="radio" value="7" v-model="mig6.e">
				</div> 
			</form>						
			<div>
				<h2>testing</h2>
				{{mig6}}
			</div>
		</div>
		<div style='border: solid 1px black;' id='dev2'>
			<h1>DevOps  performance</h1>
			<form>
				<b>A. Software coding... our applications are</b> 
				<div class="inline">
					<label for="dev2.a">1(All hard coded)</label> 
					<input type="radio" value="1" v-model="dev2.a">//
				</div>
				<div class="inline">
					<label for="dev2.a">2</label> 
					<input type="radio" value="2" v-model="dev2.a">//
				</div>
				<div class="inline">
					<label for="dev2.a">3</label> 
					<input type="radio" value="3" v-model="dev2.a">//
				</div>
				<div class="inline">
					<label for="dev2.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="dev2.a">//
				</div>
				<div class="inline">
					<label for="dev2.a">5</label> 
					<input type="radio" value="5" v-model="dev2.a">//
				</div>
				<div class="inline">
					<label for="dev2.a">6</label> 
					<input type="radio" value="6" v-model="dev2.a">//
				</div>
				<div class="inline">
					<label for="dev2.a">7(All dynamic assembly)</label> 
					<input type="radio" value="7" v-model="dev2.a">//
				</div>
			</form>	
			<form>
				<b>B. Development  teams...  our  teams  tend  to  operate</b> 
				<div class="inline">
					<label for="dev2.a">1(Fully  centralized  –a  central  team  doing  everything )</label> 
					<input type="radio" value="1" v-model="dev2.b">//
				</div>
				<div class="inline">
					<label for="dev2.a">2</label> 
					<input type="radio" value="2" v-model="dev2.b">//
				</div>
				<div class="inline">
					<label for="dev2.a">3</label> 
					<input type="radio" value="3" v-model="dev2.b">//
				</div>
				<div class="inline">
					<label for="dev2.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="dev2.b">//
				</div>
				<div class="inline">
					<label for="dev2.a">5</label> 
					<input type="radio" value="5" v-model="dev2.b">//
				</div>
				<div class="inline">
					<label for="dev2.a">6</label> 
					<input type="radio" value="6" v-model="dev2.b">//
				</div>
				<div class="inline">
					<label for="dev2.a">7(stributed  –work  assigned  to  different  teams  based  on  skills/function )</label> 
					<input type="radio" value="7" v-model="dev2.b">//
				</div>
			</form>	
			<form>
				<b>C. Architecture...  our apps  are  built  using</b> 
				<div class="inline">
					<label for="dev2.a">1(All monolithic architecture)</label> 
					<input type="radio" value="1" v-model="dev2.c">//
				</div>
				<div class="inline">
					<label for="dev2.a">2</label> 
					<input type="radio" value="2" v-model="dev2.c">//
				</div>
				<div class="inline">
					<label for="dev2.a">3</label> 
					<input type="radio" value="3" v-model="dev2.c">//
				</div>
				<div class="inline">
					<label for="dev2.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="dev2.c">//
				</div>
				<div class="inline">
					<label for="dev2.a">5</label> 
					<input type="radio" value="5" v-model="dev2.c">//
				</div>
				<div class="inline">
					<label for="dev2.a">6</label> 
					<input type="radio" value="6" v-model="dev2.c">//
				</div>
				<div class="inline">
					<label for="dev2.a">7(All microservice architecture)</label> 
					<input type="radio" value="7" v-model="dev2.c">//
				</div>
			</form>	
			<form>
				<b>D. Fully  standardized  single  channel  interfaces</b> 
				<div class="inline">
					<label for="dev2.a">1(Significantly  less  choice)</label> 
					<input type="radio" value="1" v-model="dev2.d">//
				</div>
				<div class="inline">
					<label for="dev2.a">2</label> 
					<input type="radio" value="2" v-model="dev2.d">//
				</div>
				<div class="inline">
					<label for="dev2.a">3</label> 
					<input type="radio" value="3" v-model="dev2.d">//
				</div>
				<div class="inline">
					<label for="dev2.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="dev2.d">//
				</div>
				<div class="inline">
					<label for="dev2.a">5</label> 
					<input type="radio" value="5" v-model="dev2.d">//
				</div>
				<div class="inline">
					<label for="dev2.a">6</label> 
					<input type="radio" value="6" v-model="dev2.d">//
				</div>
				<div class="inline">
					<label for="dev2.a">7(Fully customized  and  multichannel  interfaces  (mobile,  bots  etc.))</label> 
					<input type="radio" value="7" v-model="dev2.d">//
				</div>
			</form>	
			<form>
				<b>E. Design  –our  applications  are  designed  using</b> 
				<div class="inline">
					<label for="dev2.a">1(Functionality  first  for  every  app)</label> 
					<input type="radio" value="1" v-model="dev2.e">//
				</div>
				<div class="inline">
					<label for="dev2.a">2</label> 
					<input type="radio" value="2" v-model="dev2.e">//
				</div>
				<div class="inline">
					<label for="dev2.a">3</label> 
					<input type="radio" value="3" v-model="dev2.e">//
				</div>
				<div class="inline">
					<label for="dev2.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="dev2.e">//
				</div>
				<div class="inline">
					<label for="dev2.a">5</label> 
					<input type="radio" value="5" v-model="dev2.e">//
				</div>
				<div class="inline">
					<label for="dev2.a">6</label> 
					<input type="radio" value="6" v-model="dev2.e">//
				</div>
				<div class="inline">
					<label for="dev2.a">7(API design  for    every  app)</label> 
					<input type="radio" value="7" v-model="dev2.e">//
				</div>
			</form>									
			<div>
				<h2>Your choice</h2>
				{{dev2}}
				<h2>All industries choice</h2>
				{{tot}}
				<h2>Sector's Choice</h2>
				{{a1}}, {{b1}}, {{c1}}, {{d1}}, {{e1}}
			</div>
		</div>
		<div style='border: solid 1px black;' id='dev5'> 
			<h1>App dev priorities</h1>
			<div>
				<p>AI/machine learning capabilities</p>
				<div>
					<div class='circle-click' id='ai'>
						<div v-if="one === 'ai'">1</div>
						<div v-if="two === 'ai'">2</div>
						<div v-if="three === 'ai'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'ai')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'ai')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'ai')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Open languages</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'lang'">1</div>
						<div v-if="two === 'lang'">2</div>
						<div v-if="three === 'lang'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'lang')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'lang')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'lang')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Open databases</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'db'">1</div>
						<div v-if="two === 'db'">2</div>
						<div v-if="three === 'db'">3</div>					
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'db')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'db')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'db')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Automation capabilities</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'autom'">1</div>
						<div v-if="two === 'autom'">2</div>
						<div v-if="three === 'autom'">3</div>							
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'autom')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'autom')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'autom')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Visual tools</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'vt'">1</div>
						<div v-if="two === 'vt'">2</div>
						<div v-if="three === 'vt'">3</div>						
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'vt')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'vt')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'vt')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Multiplatform capabilities</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'mp'">1</div>
						<div v-if="two === 'mp'">2</div>
						<div v-if="three === 'mp'">3</div>						
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'mp')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'mp')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'mp')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Chatbot capabilities</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'chat'">1</div>
						<div v-if="two === 'chat'">2</div>
						<div v-if="three === 'chat'">3</div>						
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'chat')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'chat')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'chat')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Containers</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'cont'">1</div>
						<div v-if="two === 'cont'">2</div>
						<div v-if="three === 'cont'">3</div>						
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'cont')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'cont')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'cont')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>APIs and microservices</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'api'">1</div>
						<div v-if="two === 'api'">2</div>
						<div v-if="three === 'api'">3</div>						
					</div>
					<div>
						<div class='box' v-on:click="setRank_dev5('one', 'api')">1</div>
						<div class='box' v-on:click="setRank_dev5('two', 'api')">2</div>
						<div class='box' v-on:click="setRank_dev5('three', 'api')">3</div>
					</div>
				</div>
			</div>																		

			{{one}}// {{two}}// {{three}} <br>
			{{total}}
		</div>
		<div style='border: solid 1px black;' id='int4'> 
			<h1>Important  features  for  enabling  transformation</h1>
			<div>
				<p>Embedded  best  practice  integration  recommendations</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'a'">1</div>
						<div v-if="two === 'a'">2</div>
						<div v-if="three === 'a'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'a')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'a')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'a')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Prebuilt  flows  for  common  integrations</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'b'">1</div>
						<div v-if="two === 'b'">2</div>
						<div v-if="three === 'b'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'b')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'b')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'b')">3</div>
					</div>
				</div>
			</div>	
			<div>
				<p>Ability  to  deploy  identical  integration  (hybrid  integration)  in  the  cloud  and  on  premises</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'c'">1</div>
						<div v-if="two === 'c'">2</div>
						<div v-if="three === 'c'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'c')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'c')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'c')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Prebuilt  templates  for  common  processes</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'd'">1</div>
						<div v-if="two === 'd'">2</div>
						<div v-if="three === 'd'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'd')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'd')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'd')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Large  library  of  pre-integrated  application  connectors</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'e'">1</div>
						<div v-if="two === 'e'">2</div>
						<div v-if="three === 'e'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'e')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'e')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'e')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>End-to-end  visibility  of  process  and  integration  flow  status</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'f'">1</div>
						<div v-if="two === 'f'">2</div>
						<div v-if="three === 'f'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'f')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'f')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'f')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>Ease  of  use  for  non-integration  experts</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'g'">1</div>
						<div v-if="two === 'g'">2</div>
						<div v-if="three === 'g'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'g')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'g')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'g')">3</div>
					</div>
				</div>
			</div>
			<div>
				<p>API  management  to  design,  secure,  and  govern  application  interfaces</p>
				<div>
					<div class='circle-click'>
						<div v-if="one === 'h'">1</div>
						<div v-if="two === 'h'">2</div>
						<div v-if="three === 'h'">3</div>										
					</div>
					<div>
						<div class='box' v-on:click="setRank_int4('one', 'h')">1</div>
						<div class='box' v-on:click="setRank_int4('two', 'h')">2</div>
						<div class='box' v-on:click="setRank_int4('three', 'h')">3</div>
					</div>
				</div>
			</div>													
			{{one}} // {{two}} // {{three}} <br>
			{{total}}
		</div>	
		<div style='border: solid 1px black;' id='sec3'>
			<h1>Security  and  management  performance</h1>
			<h2>A. When  it  comes  to  security  and  management,  how  would  you  characterize  your  organization  in  terms  of...  Please  select  where    your  organization  is  positioned?</h2>
			<form>
				<b>Cyber  security  threat  detection</b> 
				<div class="inline">
					<label for="sec3.a">1(All hard coded)</label> 
					<input type="radio" value="1" v-model="sec3.a">//
				</div>
				<div class="inline">
					<label for="sec3.a">2</label> 
					<input type="radio" value="2" v-model="sec3.a">//
				</div>
				<div class="inline">
					<label for="sec3.a">3</label> 
					<input type="radio" value="3" v-model="sec3.a">//
				</div>
				<div class="inline">
					<label for="sec3.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="sec3.a">//
				</div>
				<div class="inline">
					<label for="sec3.a">5</label> 
					<input type="radio" value="5" v-model="sec3.a">//
				</div>
				<div class="inline">
					<label for="sec3.a">6</label> 
					<input type="radio" value="6" v-model="sec3.a">//
				</div>
				<div class="inline">
					<label for="sec3.a">7(All dynamic assembly)</label> 
					<input type="radio" value="7" v-model="sec3.a">//
				</div>
			</form>	
			<form>
				<b>Cyber  security  prevention</b> 
				<div class="inline">
					<label for="sec3.b">1(Fully  centralized  –a  central  team  doing  everything )</label> 
					<input type="radio" value="1" v-model="sec3.b">//
				</div>
				<div class="inline">
					<label for="sec3.b">2</label> 
					<input type="radio" value="2" v-model="sec3.b">//
				</div>
				<div class="inline">
					<label for="sec3.b">3</label> 
					<input type="radio" value="3" v-model="sec3.b">//
				</div>
				<div class="inline">
					<label for="sec3.b">4(In-between)</label> 
					<input type="radio" value="4" v-model="sec3.b">//
				</div>
				<div class="inline">
					<label for="sec3.b">5</label> 
					<input type="radio" value="5" v-model="sec3.b">//
				</div>
				<div class="inline">
					<label for="sec3.b">6</label> 
					<input type="radio" value="6" v-model="sec3.b">//
				</div>
				<div class="inline">
					<label for="sec3.b">7(stributed  –work  assigned  to  different  teams  based  on  skills/function )</label> 
					<input type="radio" value="7" v-model="sec3.b">//
				</div>
			</form>	
			<form>
				<b>Capacity  planning</b> 
				<div class="inline">
					<label for="sec3.c">1(All monolithic architecture)</label> 
					<input type="radio" value="1" v-model="sec3.c">//
				</div>
				<div class="inline">
					<label for="sec3.c">2</label> 
					<input type="radio" value="2" v-model="sec3.c">//
				</div>
				<div class="inline">
					<label for="sec3.c">3</label> 
					<input type="radio" value="3" v-model="sec3.c">//
				</div>
				<div class="inline">
					<label for="sec3.c">4(In-between)</label> 
					<input type="radio" value="4" v-model="sec3.c">//
				</div>
				<div class="inline">
					<label for="sec3.c">5</label> 
					<input type="radio" value="5" v-model="sec3.c">//
				</div>
				<div class="inline">
					<label for="sec3.c">6</label> 
					<input type="radio" value="6" v-model="sec3.c">//
				</div>
				<div class="inline">
					<label for="sec3.c">7(All microservice architecture)</label> 
					<input type="radio" value="7" v-model="sec3.c">//
				</div>
			</form>	
			<form>
				<b>Outage  prevention  </b> 
				<div class="inline">
					<label for="sec3.d">1(Significantly  less  choice)</label> 
					<input type="radio" value="1" v-model="sec3.d">//
				</div>
				<div class="inline">
					<label for="sec3.d">2</label> 
					<input type="radio" value="2" v-model="sec3.d">//
				</div>
				<div class="inline">
					<label for="sec3.d">3</label> 
					<input type="radio" value="3" v-model="sec3.d">//
				</div>
				<div class="inline">
					<label for="sec3.d">4(In-between)</label> 
					<input type="radio" value="4" v-model="sec3.d">//
				</div>
				<div class="inline">
					<label for="sec3.d">5</label> 
					<input type="radio" value="5" v-model="sec3.d">//
				</div>
				<div class="inline">
					<label for="sec3.d">6</label> 
					<input type="radio" value="6" v-model="sec3.d">//
				</div>
				<div class="inline">
					<label for="sec3.d">7(Fully customized  and  multichannel  interfaces  (mobile,  bots  etc.))</label> 
					<input type="radio" value="7" v-model="sec3.d">//
				</div>
			</form>									
			<div>
				<h2>Your choice</h2>
				{{sec3}}
				<h2>Sector's Choice</h2>
				{{a1}}, {{b1}}, {{c1}}, {{d1}}			
				<h2>All industries choice</h2>
				{{tot}}
			</div>
		</div>
		<div style='border: solid 1px black;' id='ana2'>
			<h1>Analysis  performance</h1>
			<h2>When  it  comes  to  data  and  analytics,  how  is  your  organization  positioned  on  the  following?  Please  select  where  your  organization  is  positioned? </h2>
			<form>
				<b>Data  analysis  sophistication</b> 
				<div class="inline">
					<label for="ana.a">1(All hard coded)</label> 
					<input type="radio" value="1" v-model="ana.a">//
				</div>
				<div class="inline">
					<label for="ana.a">2</label> 
					<input type="radio" value="2" v-model="ana.a">//
				</div>
				<div class="inline">
					<label for="ana.a">3</label> 
					<input type="radio" value="3" v-model="ana.a">//
				</div>
				<div class="inline">
					<label for="ana.a">4(In-between)</label> 
					<input type="radio" value="4" v-model="ana.a">//
				</div>
				<div class="inline">
					<label for="ana.a">5</label> 
					<input type="radio" value="5" v-model="ana.a">//
				</div>
				<div class="inline">
					<label for="ana.a">6</label> 
					<input type="radio" value="6" v-model="ana.a">//
				</div>
				<div class="inline">
					<label for="ana.a">7(All dynamic assembly)</label> 
					<input type="radio" value="7" v-model="ana.a">//
				</div>
			</form>	
			<form>
				<b>Data  sources</b> 
				<div class="inline">
					<label for="ana.b">1(Fully  centralized  –a  central  team  doing  everything )</label> 
					<input type="radio" value="1" v-model="ana.b">//
				</div>
				<div class="inline">
					<label for="ana.b">2</label> 
					<input type="radio" value="2" v-model="ana.b">//
				</div>
				<div class="inline">
					<label for="ana.b">3</label> 
					<input type="radio" value="3" v-model="ana.b">//
				</div>
				<div class="inline">
					<label for="ana.b">4(In-between)</label> 
					<input type="radio" value="4" v-model="ana.b">//
				</div>
				<div class="inline">
					<label for="ana.b">5</label> 
					<input type="radio" value="5" v-model="ana.b">//
				</div>
				<div class="inline">
					<label for="ana.b">6</label> 
					<input type="radio" value="6" v-model="ana.b">//
				</div>
				<div class="inline">
					<label for="ana.b">7(stributed  –work  assigned  to  different  teams  based  on  skills/function )</label> 
					<input type="radio" value="7" v-model="ana.b">//
				</div>
			</form>	
			<form>
				<b>Big  data  skill  sets</b> 
				<div class="inline">
					<label for="ana.c">1(All monolithic architecture)</label> 
					<input type="radio" value="1" v-model="ana.c">//
				</div>
				<div class="inline">
					<label for="ana.c">2</label> 
					<input type="radio" value="2" v-model="ana.c">//
				</div>
				<div class="inline">
					<label for="ana.c">3</label> 
					<input type="radio" value="3" v-model="ana.c">//
				</div>
				<div class="inline">
					<label for="ana.c">4(In-between)</label> 
					<input type="radio" value="4" v-model="ana.c">//
				</div>
				<div class="inline">
					<label for="ana.c">5</label> 
					<input type="radio" value="5" v-model="ana.c">//
				</div>
				<div class="inline">
					<label for="ana.c">6</label> 
					<input type="radio" value="6" v-model="ana.c">//
				</div>
				<div class="inline">
					<label for="ana.c">7(All microservice architecture)</label> 
					<input type="radio" value="7" v-model="ana.c">//
				</div>
			</form>	
			<form>
				<b>Machine  learning</b> 
				<div class="inline">
					<label for="ana.d">1(Significantly  less  choice)</label> 
					<input type="radio" value="1" v-model="ana.d">//
				</div>
				<div class="inline">
					<label for="ana.d">2</label> 
					<input type="radio" value="2" v-model="ana.d">//
				</div>
				<div class="inline">
					<label for="ana.d">3</label> 
					<input type="radio" value="3" v-model="ana.d">//
				</div>
				<div class="inline">
					<label for="ana.d">4(In-between)</label> 
					<input type="radio" value="4" v-model="ana.d">//
				</div>
				<div class="inline">
					<label for="ana.d">5</label> 
					<input type="radio" value="5" v-model="ana.d">//
				</div>
				<div class="inline">
					<label for="ana.d">6</label> 
					<input type="radio" value="6" v-model="ana.d">//
				</div>
				<div class="inline">
					<label for="ana.d">7(Fully customized  and  multichannel  interfaces  (mobile,  bots  etc.))</label> 
					<input type="radio" value="7" v-model="ana.d">//
				</div>
			</form>	
			<form>
				<b>Visualization</b> 
				<div class="inline">
					<label for="ana.e">1(Significantly  less  choice)</label> 
					<input type="radio" value="1" v-model="ana.e">//
				</div>
				<div class="inline">
					<label for="ana.e">2</label> 
					<input type="radio" value="2" v-model="ana.e">//
				</div>
				<div class="inline">
					<label for="ana.e">3</label> 
					<input type="radio" value="3" v-model="ana.e">//
				</div>
				<div class="inline">
					<label for="ana.e">4(In-between)</label> 
					<input type="radio" value="4" v-model="ana.e">//
				</div>
				<div class="inline">
					<label for="ana.e">5</label> 
					<input type="radio" value="5" v-model="ana.e">//
				</div>
				<div class="inline">
					<label for="ana.e">6</label> 
					<input type="radio" value="6" v-model="ana.e">//
				</div>
				<div class="inline">
					<label for="ana.e">7(Fully customized  and  multichannel  interfaces  (mobile,  bots  etc.))</label> 
					<input type="radio" value="7" v-model="ana.e">//
				</div>
			</form>	
			<form>
				<b>Distribution</b> 
				<div class="inline">
					<label for="ana.f">1(Significantly  less  choice)</label> 
					<input type="radio" value="1" v-model="ana.f">//
				</div>
				<div class="inline">
					<label for="ana.f">2</label> 
					<input type="radio" value="2" v-model="ana.f">//
				</div>
				<div class="inline">
					<label for="ana.f">3</label> 
					<input type="radio" value="3" v-model="ana.f">//
				</div>
				<div class="inline">
					<label for="ana.f">4(In-between)</label> 
					<input type="radio" value="4" v-model="ana.f">//
				</div>
				<div class="inline">
					<label for="ana.f">5</label> 
					<input type="radio" value="5" v-model="ana.f">//
				</div>
				<div class="inline">
					<label for="ana.f">6</label> 
					<input type="radio" value="6" v-model="ana.f">//
				</div>
				<div class="inline">
					<label for="ana.f">7(Fully customized  and  multichannel  interfaces  (mobile,  bots  etc.))</label> 
					<input type="radio" value="7" v-model="ana.f">//
				</div>
			</form>													
			<div>
				<h2>Your choice</h2>
				{{ana}}
				<h2>Sector's Choice</h2>
				{{a1}}, {{b1}}, {{c1}}, {{d1}}
				<h2>All industries choice</h2>
				{{tot}}
			</div>
		</div>
		<div style='border: solid 1px black;' id='summary'>
			<h1>Summary</h1>
			<div style='background-color: orange;'>
				<div class='inline' style='border: solid 1px black;'>
					<b>CLO2/Migrate</b>
					<div>{{migrate}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>CLO2/Developing</b>
					<div>{{dev}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>CLO2/Integrating</b>
					<div>{{int}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>CLO2/Storing</b>
					<div>{{store}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>CLO2/Securing</b>
					<div>{{sec}}</div>
				</div>
				<div class='inline' style='border: solid 1px black;'>
					<b>CLO2/Analysis</b>
					<div>{{an}}</div>
				</div>															
			</div>
		</div>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="slick/slick.min.js"></script>
		<script src="js/videos_and_popups.js"></script>

		<script type="text/javascript" src="js/datasets.js"></script>
		<script type="text/javascript" src="js/data.js"></script>
		<script type="text/javascript" src="js/main.js"></script>	
	</body>
</html>