.callout{
	&__holder{
		flex: 0 0 28.30rem;
		height: 6.00rem;
		background-color: rgba(255,255,255,.9);
    // display: flex;
    padding-top: 	0.70rem;
		padding-left: 	1.20rem;
    animation: fadeIn .3s;
    @include bp(767){
	    height: auto;
    	flex: 0;
	    padding: 20px 15px;    	
    }
	}	
	&__header{
		font-size: 0.70rem;
		line-height: 1.05rem;		
		transform: translateY(-0.25rem);
		color: #003B4D;
		font-family: $font-reg;
		@include bp(767){
			transform: translateY(0rem);
			font-size: 14px;
			line-height: 21px;
		}
		&--bold{
			font-family: $font-bold;			
			font-size: .9rem;
			&-1{
				font-family: $font-reg;
				font-size: 0.70rem;
		    transform: translateY(-0.15rem);
		    display: inline-block;				
			}
		}
	}
	&__sub{
		font-family: $font-reg;
		color: #00758F;
		font-size: 0.60rem;
		line-height: 1.20rem;
		transform: translateY(-0.30rem);
		@include bp(767){
			transform: translateY(0rem);
			font-size: 12px;
			margin-top: 15px;
		}
	}
	&__action{
		flex: 0 0 11.25rem;
		align-self: stretch;
		background-color: rgba(255,255,255,.6);
		display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
		& > *{
			transition: all .5s;	
		}
		
		&:hover{
			background-color: rgba(255,255,255,.8);
		}
		&:active{
			background-color: rgba(255,255,255,.7);
		}
		

    &:hover &--text,
    &:hover .callout__icon{
			transform: translateY(-0.15rem);
    }

    &:active &--text,
    &:active .callout__icon{
			transform: translateY(-0.05rem);
    }		
	}
}