.check-boxer{
	&__holder{
		height: 9.70rem;		
		width: 13.40rem;
		background-color: rgba(255,255,255,.2);
		margin-top: 0.60rem;
		padding: 1.00rem 0.85rem 0.55rem 1.25rem;
		transition: all .1s;
		cursor: pointer;
		display: flex;
    flex-direction: column;
    justify-content: space-between;

		&:hover{
			transform: scale(1.05);
			@include bp(1024){
				transform: scale(1);
			}
		}

		@include bp(767){
	    flex-direction: row;
    	padding: 15px;
    	margin-top: 0px;
    	align-items: center;
		}
	}

	&__text{
		font-size: 1.05rem;
		line-height: 1.33;
		color: #fff;
		@include bp(767){
	    order: 2;
		}
	}
	&__container{
		width: 100%;
		height: 2.00rem;
		display: flex;
    justify-content: space-between;	
		@include bp(767){
	    margin-right: -14px;
			flex: 0 0 42px;

		}
  }
	&__checkmark{
		height: 2.01rem;
		flex: 0 0 2.63rem;
		

		&--1{
			visibility: hidden;
		}

		&--2{
			transition: transform .333s;			
	    margin-left: auto;
			display: none;
			@include bp(767){
				display: none!important;
			}
		}		
	}
}