.error{
  border: 2px solid #f80000;
}
.alert{
  position: absolute;
  bottom: 60px;
  line-height: normal;
  left: 29px;
  @include bp(767){
    bottom: 47px;
  }
}
.bttn.submit-bttn{
  display: inline-flex;
  height: 36px;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid  #FFFFFF;
  width: max-content;
  width:-moz-max-content;
  position: relative;
  line-height: 36px;
  -webkit-transition: background-color  500ms ease;
  -ms-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition:background-color 500ms ease;    
  margin-top: 12px;
  @include bp(767){
    margin-top: 14px;
  }
}
.b.submit-bttn:hover{
  color:#00758f ;
  background-color: #ffffff;
  border-left:1px solid #00758f;
}
 .terms td.chex{
  position: relative;
  width: 30px;
}
.terms .korea, .terms .russia{
  position: absolute;
  top:5px
 }