.header{
	&__container{
		display: flex;
		align-items: flex-start;
		&--1,
		.page--x &{
			@include mar-phone15;
		}
	}
	&__box{
		flex: 0 0 2.15rem;
		height: 2.15rem;	
		background-color: rgba(255,255,255,.8);
		margin-right: 0.95rem;

		@include flexCenter;
		@include bp(767){
			.page--x &{
				flex: 0 0 28px;
				height: 28px;
			}
		}

	}
	&__num{
		font-size: 1.80rem;
		color: #003B4D;
		line-height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .mac &{
    	transform: translateY(0.1em);
    }
    @include bp(767){
    	font-size: 26px;
    	transform: translateY(0.1em);
    	.page--x &{
		    font-size: 21px;
		    transform: translateY(0.1em);
    	}
    }
	}	
	&__title{
    font-size: 2.40rem;   
    color: #fff;
    transform: translateY(-0.50rem);
    // line-height: 2.88rem;
		// line-height: 2.40rem;

		.mac &{
			transform: translateY(-0.25rem);
		}
		@include bp(767){
	    width: 82%;
		}
	}
	&__tut{
		font-size: 0.60rem;
		color: #BDE6EE;
		cursor: pointer;
	}
}