input{
	@include bp(768){
		display: none;
		&.input__eloqua{
			display: block;
		}
	}
}

.mob-radio{
	@include bp(768){
		&__input{
			&:checked ~ label .mob-radio__button::after{
				 background-color: #000;
			}

			&--1{
				display: m
			}
		}
		&__group{
			width: Calc(#{100vw} - #{60px});
			&:not(:last-of-type){
				margin-bottom: 15px;
			}
		}
		&__label{
			display: flex;
	    align-items: flex-start;
		}
		&__button{
			background-color: rgba(255,255,255,.4);
			height: 18px;
			flex: 0 0 18px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after{
				content:'';
				height: 6px;
				width: 6px;
				border-radius: 50%;
				background-color: rgb(255,255,255);
			}
		}
		&__text{
			font-size: 16px;
	    line-height: 18px;
			color: #fff;
			margin-left: 15px;
			// flex: 0 0 18px;
			.page--16 &{
		    flex: 0 0 80%;
			}
			@include bp(767){
		    transform: translateY(0.1em);
			}
		}	
	}
}