ul.no-dots-ul{
    list-style: none;
}

.icon-chevron-right.slick-arrow{
    width:2.00rem;
    height: 4.00rem;
    background-color: hotpink;

}
.b-modal {
    mix-blend-mode: multiply;

}

.popupContainer .arrow-text{
    color: #ffffff;
}