.slider{
	&__shadow{
		position: absolute;
		// background-color: red;
    height: 4.30rem;
    width: 53.20rem;
    z-index: 0;
    &::after{
    	content:"";
			position: absolute;
	    // background-color: #00758F;
			width: 100%;
			height: 100%;
	    z-index: 10;
    }
    &--1{
    	top: 4.40rem;	
    }   
		&--2{
    	top: 18.00rem;
    }         
	}
	&__group{
	  // font-family: $font-lt;
		// background-color: #00758F;
		padding-right: 2.75rem;
	  // &:not(:first-of-type){
	  // 	margin-top: 4.80rem;
	  // }
	}

	&__text{
		font-size: 1.40rem;		
		line-height: 1.17;
		color: #fff;
	}	
	&__holder{
		// margin-top: 3.85rem;
		margin-top: 2.75rem;
		height: 4.30rem;
		width: 100%;
		display: flex;
		z-index: 13;
    position: relative;		
	  background-color: rgba(255, 255, 255, 0.4)
	}
	&__progress{
		width: 100%;
		background-image: url("../assets/images/desktop/white-80.svg");
		background-repeat: no-repeat;
    background-size: inherit;
    background-position-x: -55.90rem;
		transition: background-position .5s ease-in-out;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
	}	
	&__radio{
		position: relative;
		& span{
			font-size: 0.60rem;
			line-height: 1.14;
			color: #003B4D;
		}

		& > label{
	    width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    justify-content: center;
	    cursor: pointer;
		}		
		&:nth-child(1){
			flex: 0 0 2.57rem;
		} 
		&:nth-child(2){
			flex: 0 0 4.30rem;	
			background-color: rgba(255,255,255,.2);		
		}
		&:nth-child(3){
			flex: 0 0 4.98rem;
		}
		&:nth-child(4){
			flex: 0 0 5.97rem;
			background-color: rgba(255,255,255,.2);
		}
		&:nth-child(5){
			flex: 0 0 7.18rem;
		}
		&:nth-child(6){
			flex: 0 0 8.63rem;
			background-color: rgba(255,255,255,.2);
		}
		&:nth-child(7){
			flex: 0 0 9.17rem;
		}		
		&:nth-child(8){
			flex: 0 0 10.40rem;
			border-right: 0;
			background-color: rgba(255,255,255,.2);
		}		
	}	
	&__input{
		display: none;

		// &:checked ~ *{
		// 		background-color: green;
		// }			
	}
	&__ticker{
		position: absolute;
		// height: 3.10rem;
		// width: 0.50rem;
    // top: 0;
  	top: -2.70rem;
  	display: none;
    transform: translateX(0);
		// transition: top .7s ease;
		// transition-delay: 1s;

		&--1,
		&--2{
	    left: 0!important;	
		}

		&--1{
	    top: -2.55rem;
		}		
		&--3,
		&--4{
	    height: 6.05rem;
	    width: 2.80rem;
	    top: -1.60rem;
		}
		// &--4{
	 //    top: -1.63rem;
		// }
    &--active{
    	// top: -3.10rem;
    }
	}

	&__flag{
		position: relative;
		width: 2.80rem;
		&--1{
			height: 6.95rem;
			background-image: url('../assets/images/desktop/flag-you.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
		// &--text{
		// 	font-size: 0.60rem;
		// 	color: #003B4D;
		// 	margin-left: 1px;
		// }
	}
}
