@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'vendors/preloader';
@import 'vendors/scrollbar';
@import 'vendors/slick';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/arrows';
@import 'components/background';
@import 'components/buttons';
@import 'components/callout';
@import 'components/check-boxer';
@import 'components/contact-bar';
@import 'components/dev-meter';
@import 'components/dial';
@import 'components/dropdown-toc';
@import 'components/dropdown';
@import 'components/eloqua';
@import 'components/header';
@import 'components/images';
@import 'components/list';
@import 'components/loading';
@import 'components/map-composition';
@import 'components/meter';
@import 'components/mob-radio';
@import 'components/nav-bar';
@import 'components/popups-sliders';
@import 'components/pull-quote';
@import 'components/slider';
@import 'components/table';
@import 'components/thermo';
@import 'components/videos';

@import 'layout/container';
@import 'layout/cover';
@import 'layout/footer';
@import 'layout/grid';

@import 'pages/body';
@import 'pages/comparison';
@import 'pages/intro';
@import 'pages/results';
@import 'pages/cheats';

/**********Tablet POrtrait***************/
@media only screen and (max-width: 767px) {

  /*** CSS changes  10/12***/
  #q08-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q08-01.svg");
  }
  #q08-02{
    background-image: url("../assets/images/_mobile/_phone-icons/q08-02.svg");
  }
  #q08-03{
    background-image: url("../assets/images/_mobile/_phone-icons/q08-03.svg");
  }
  #q08-04{
    background-image: url("../assets/images/_mobile/_phone-icons/q08-04.svg");
  }
  #q09-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q09-01.svg");
  }
  #q09-02{
    background-image: url("../assets/images/_mobile/_phone-icons/q09-02.svg");
  }
  #q09-03{
    background-image: url("../assets/images/_mobile/_phone-icons/q09-03.svg");
  }
  #q09-04{
    background-image: url("../assets/images/_mobile/_phone-icons/q09-04.svg");
  }
  #q09-05{
    background-image: url("../assets/images/_mobile/_phone-icons/q09-05.svg");
  }
  #q09-06{
    background-image: url("../assets/images/_mobile/_phone-icons/q09-06.svg");
  }
  .mobile-radio-cont {
    display: block;
    padding-right:6.625rem;
  }
  .check-boxer__holder{
    flex: none;
    width: 100vw;
    margin-left: -1rem;
    border-radius: 0px;
    padding-right: 6.625rem;
    background: transparent;
    height: auto;
  }
  .dial__holder {
    width: 100vw;
    margin-left: -4.125rem;
    border-radius: 0px;
    background-color: transparent;
    background-position: center;
    background-position-x: Calc(#{100%} - #{2rem});
    background-size: 70px auto;
    background-repeat: no-repeat;
    padding-right: 6.625rem;
  }

  /***END 11/12***/

  /*** CSS changes  10/11***/
  .page--8 .mobile-tab{
    height: auto;
  }


  .check-boxer__text .mobile{
    display: block;
    margin-right: 1rem;
    float: left;
  }
  .check-boxer__text input[type="radio"]{
    margin-top: -3px;
  }
  .dial__icon.mobile {
    position: absolute;
    top: 50%;
    left: unset;
    right:2rem;
    transform: translateY(-50%);
    width: 70px;
    height: 100%;
  }
  #q02-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q02-01.svg");
  }
  #q02-02{
    background-image: url("../assets/images/_mobile/_phone-icons/q02-02.svg");
  }
  #q02-03{
    background-image: url("../assets/images/_mobile/_phone-icons/q02-03.svg");
  }
  #q02-04{
    background-image: url("../assets/images/_mobile/_phone-icons/q02-04.svg");
  }
  #q02-05{
    background-image: url("../assets/images/_mobile/_phone-icons/q02-05.svg");
  }
  #q02-06{
    background-image: url("../assets/images/_mobile/_phone-icons/q02-06.svg");
  }
  #q03-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q03-01.svg");
  }
  #q03-02{
    background-image: url("../assets/images/_mobile/_phone-icons/q03-02.svg");
  }
  #q03-03{
    background-image: url("../assets/images/_mobile/_phone-icons/q03-03.svg");
  }
  #q03-04{
    background-image: url("../assets/images/_mobile/_phone-icons/q03-04.svg");
  }
  #q03-05{
    background-image: url("../assets/images/_mobile/_phone-icons/q03-05.svg");
  }
  #q04-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q04-01.svg");
  }
  #q04-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q04-01.svg");
  }
  #q04-02{
    background-image: url("../assets/images/_mobile/_phone-icons/q04-02.svg");
  }
  #q04-03{
    background-image: url("../assets/images/_mobile/_phone-icons/q04-03.svg");
  }
  #q04-04{
    background-image: url("../assets/images/_mobile/_phone-icons/q04-04.svg");
  }
  #q04-05{
    background-image: url("../assets/images/_mobile/_phone-icons/q04-05.svg");
  }
  #q07-01{
    background-image: url("../assets/images/_mobile/_phone-icons/q07-01.svg");
  }
  #q07-02{
    background-image: url("../assets/images/_mobile/_phone-icons/q07-02.svg");
  }
  #q07-03{
    background-image: url("../assets/images/_mobile/_phone-icons/q07-03.svg");
  }
  #q07-04{
    background-image: url("../assets/images/_mobile/_phone-icons/q07-04.svg");
  }
  #q07-05{
    background-image: url("../assets/images/_mobile/_phone-icons/q07-05.svg");
  }

  .dial__holder--1 {
    padding-top: .1rem;
  }
  .thermo__group {
    flex: none;
    width: 100vw;
    margin-left: -4.125rem;
    border-radius: 0px;
    background-position: center;
    background-position-x: Calc(#{100%} - #{2rem});
    background-size: 70px auto;
    background-repeat: no-repeat;
  }
  .thermo__holder--3 {
    background-color:transparent;
  }
  /**END 10/11**/

  /*** CSS changes  10/10***/

 .header__tut{
    display: none;
  }
  .dial__holder.light{
    background-color: rgba(270,270,270,.2);
  }
  .container-dial--1 {
    padding: 0;
  }
  .container-thermo {
    display: block;
  }

  .thermo__title{
    text-align: left;
    font-size: 1.2rem;
    margin-left: 2.5625rem;
    margin-bottom: 1rem;
  }
  .thermo__group.light, .check-boxer__holder.light{
    background-color: rgba(270,270,270,.2);
  }
  .select-group{
    width: 100%;
    display: block;
    margin-bottom: 2.5rem;
  }
  .select-label{
    color: #FFFFFF;
    margin-bottom: .5rem;
    display: block;
  }
  .header__container {
    width: 100%; }
  .container-check-boxer{
    display: block;
  }

  /***END 10/10 ***/
  .mobile {
    display: inherit; }
  .desktop {
    display: none !important; }
  .book-slider {
    height: 100vh;
    background-image: url(../assets/images/_mobile/mobile-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll; }
  .slick-initialized .slick-slide {
    height: auto; }
  .city__bg--0, .city__bg--1, .city__bg--2.city__bg--3.city__bg--4, .city__bg--5, .city__bg--6, .city__bg--7.city__bg--8 {
    background-image: none; }
  .mobile-tracker {
    display: block;
    float: right;
    color: #FFFFFF;
    font-size: 1rem;
    margin-right: 0.9375rem;
    letter-spacing: 0.8px; }
  .tracker__group {
    display: none; }
  .tracker__group:last-of-type {
    height: 23px;
    width: 23px;
    display: block; }
  h1.header__title {
    margin-top: 0px;
    transform: translateY(-4px);
    font-size: 1.3125rem; }

  .nav-bar {
    padding: 15px;    
    background-color: #00758F;}
  .slick-slide > .container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  html {
    font-size: 100%; }
  .main_container {
    width: 100vw; }
  .question__text {
    font-size: 1rem;
    margin-bottom: 17px;
    transform: translateY(-4px); }
  .question__container {
    display: block; }
  .question__group {
    flex: none;
    width: 100%;
    float: none;
    display: table;
    margin-bottom: 40px; }
  .mobile-select {
    -webkit-appearance: none;
    width: 13.13rem;
    padding: 0.125rem 0.9375rem 0.125rem  0.9375rem;
    border-radius: 0;
    border: 1px solid #cde1e5;
    background-color: transparent;
    background-image: url(../assets/images/desktop/thermo/triangle-white--1.svg);
    background-size: 0.9375rem  0.9375rem;
    background-repeat: no-repeat;
    background-position: 11.38rem 0.375rem;
    color: #FFFFFF; }
  .mobile-radio-group {
    margin-bottom: .9rem; }
  .mobile-tab {
    // width: 85%;
    margin-left: 2.5625rem; }
  // input[type="radio"] {
  //   position: relative;
  //   display: inline-block;
  //   border: .35rem solid #61B3BC;
  //   border-radius: 100%;
  //   outline: none !important;
  //   -webkit-appearance: none;
  //   transform: translateY(0.1875rem);
  //   color: #FFFFFF; }
  // input[type="radio"]::before {
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   content: '';
  //   background: white;
  //   padding-right: 0.5rem;
  //   border-radius: 100%;
  //   width: 0.5rem;
  //   height: 0.5rem; }
  // input[type="radio"]:checked::before {
  //   background: #000000;
  //   border-color: #c147F92; }
  .radio-text {
    color: #FFFFFF;
    margin-left: 0.9375rem; }
  .mobile-radio {
    display: block; }
  .question__num-box {
    margin-right: 1.125rem; }
  .currency-select {
    margin-bottom: 1.063rem; }
  /*Q2*/
  .container-dial {
    display: block; }
  .dial__header--holder {
    display: block; }

  .dial__header--img {
    display: none; }

  .dial__header--text {
    font-family: "Univers", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    display: block;
    width: 100%;
    letter-spacing: 0.01125rem;
    margin-bottom: 1rem; } }





