.main_container {
	width: 63.10rem;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
  &--1{
    width: 100%;
  }
}

.book-slider {
  width: 100%;
  height: 47.00rem;
  z-index: 3;
  opacity:0;}
 .book-slider.loaded {
  opacity: 1;
}
.page {
	position: relative;
  width: 70.00rem;
  height: 47.00rem;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover !important;	
  &--1{
		
	}
  &--x{
    .book-slider &{  
      overflow-y: overlay;
    }
  }
}

body{
  background-image: url('../assets/images/desktop/backgrounds/bg-02.png');
  // background: 0px 22.50rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
  // url('../assets/images/desktop/backgrounds/bg-02.png');
  background-repeat: no-repeat;
  background-size: cover;  
  
  // @include bp(ht1){
  //   background: 0px 25.00rem url("../assets/images/desktop/backgrounds/bg-01-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
  // @include bg(wt-lrg){
  //   background: 0px 35.00rem url("../assets/images/desktop/backgrounds/bg-01-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}

.background--1{
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/images/desktop/backgrounds/bg-cover-complete.png');
}

// .city__bg{
//   // min-width: 140.00rem;
//   height: 100vh;  
//   min-width:100%;
//   position: absolute;
//   // display: none;
//   opacity: 0;
//   transition: opacity .3s;
//   // @include bp(wt1){min-width: 135.00rem;}
//   // @include bp(wt2){min-width: 130.00rem;}
//   // @include bp(wt3){min-width: 125.00rem;}
//   // @include bp(wt4){min-width: 120.00rem;}
//   // @include bp(wt5){min-width: 115.00rem;}
//   // @include bp(wt6){min-width: 110.00rem;}
//   // @include bp(wt7){min-width: 105.00rem;}
//   // @include bp(wt8){min-width: 100.00rem;}
//   // @include bp(wt9){min-width: 95.00rem;}
//   // @include bp(wt10){min-width: 90.00rem;}
//   // @include bp(wt11){min-width: 85.00rem;}

//   &--0{
//     background: 0px 11.5rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//     url('../assets/images/desktop/backgrounds/bg-02.png');
//     background-repeat: no-repeat;
//     background-size: cover; 
//     @include bp(2600){
//       background: 0px 9.5rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;       
//     }    
//     @include bp(2300){
//       background: 0px 11.2rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;       
//     }
//     @include bp(2100){
//       background: 0px 14.2rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }
//     @include bp(2000){
//       background: 0px 15.2rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }   
//     @include bp(1700){
//       background: 0px 17.2rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;       
//     } 
//     @include bp(1600){
//       background: 0px 19.2rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;       
//     }    
//     @include bp(1400){
//       background: 0px 13.2rem url('../assets/images/desktop/backgrounds/bg-01-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;       
//     }
//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-01-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // } 
//   }

//   &--1{
//       background: 0px 11.5rem url('../assets/images/desktop/backgrounds/bg-02-paris.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;     
//       min-width: 104%;      
//       @include bp(2400){
//         min-width: 104%;     
//         background: 0px 19.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//       }
//       @include bp(2300){
//         min-width: 107%;
//         background: 0px 19.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//       }   
//       @include bp(2200){
//         min-width: 107%;
//         background: 0px 19.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//       }      
//       @include bp(2100){
//         min-width: 122%;
//         background: -23rem 19.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }             
//       @include bp(2000){
//         min-width: 122%;
//         background: -21rem 20.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;      
//       }             
//       @include bp(1900){
//         min-width: 122%;
//         background: -2rem 15.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;       
//       }
//       @include bp(1800){
//         min-width: 116%;
//         background: -13rem 23.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }     
//       @include bp(1700){
//         min-width: 112%;
//         background: -9rem 25.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       } 
//       @include bp(1500){
//         min-width: 112%;
//         background: -8rem 25.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       } 
//       @include bp(1400){
//         min-width: 112%;
//         background: 0rem 14.5rem url(../assets/images/desktop/backgrounds/bg-02-paris.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;    
//       }       


//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-02-paris.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // }  
//   }   

//   &--2{
//     background: 0px -19rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//     url('../assets/images/desktop/backgrounds/bg-02.png');
//     background-repeat: no-repeat;
//     background-size: cover;    
//     @include bp(2400){
//       background: 0px -14rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }
//     @include bp(2400){
//       background: 0px -12rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }    
//     @include bp(2300){
//       background: 0px -11rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     } 
//     @include bp(2100){
//       background: 0px -8.5rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }    
//     @include bp(2000){
//       background: 0px -6rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }             
//     @include bp(1900){
//       background: 0px -3.6rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }         
//     @include bp(1800){
//       background: 0px -1.2rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }         
//     @include bp(1700){
//       background: 0px .8rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }        
//     @include bp(1600){
//       background: 0px 2.8rem url('../assets/images/desktop/backgrounds/bg-03-tokyo-c.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }          
//     @include bp(1400){
//       background: 0px -9.2rem url(../assets/images/desktop/backgrounds/bg-03-tokyo-c.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }  
//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-03-tokyo-c.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // } 
//   } 

//   &--3{
//     background: 0px -15rem url('../assets/images/desktop/backgrounds/bg-04-ny-d.png'), 
//     url('../assets/images/desktop/backgrounds/bg-02.png');
//     background-repeat: no-repeat;
//     background-size: cover;   
//     @include bp(2600){
//       background: 0px -19.5rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;
//     } 
//     @include bp(2400){
//       background: 0px -12.8rem url('../assets/images/desktop/backgrounds/bg-04-ny-d.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;
//     }           
//     @include bp(2300){
//       background: 0px -10.4rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }
//     @include bp(2200){
//       background: 0px -8rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }    
//     @include bp(2100){
//       background: 0px -6rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }   
//     @include bp(2000){
//       background: 0px -3.5rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     } 
//     @include bp(1900){
//       background: 0px -1rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }           
//     @include bp(1800){
//       background: 0px 1rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }       
//     @include bp(1700){
//       background: 0px 4rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }       
//     @include bp(1600){
//       background: 0px 6rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }
//     @include bp(1500){
//       background: 0px 8rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }        
//     @include bp(1400){
//       background: 0px -7rem url(../assets/images/desktop/backgrounds/bg-04-ny-d.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }
                
//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-04-ny-d.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // }
//   } 

//   &--4{
//     background: 0px 26.5rem url('../assets/images/desktop/backgrounds/bg-05-london.png'), 
//     url('../assets/images/desktop/backgrounds/bg-02.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     @include bp(2600){
//       background: 0px 23rem url(../assets/images/desktop/backgrounds/bg-05-london.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//     @include bp(2400){
//       background: 0px 24.5rem url(../assets/images/desktop/backgrounds/bg-05-london.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }    
//     @include bp(2200){
//       background: 0px 26rem url(../assets/images/desktop/backgrounds/bg-05-london.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }
//     @include bp(1900){
//       background: 0px 27rem url(../assets/images/desktop/backgrounds/bg-05-london.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }      
//     @include bp(1600){
//       background: 0px 28rem url(../assets/images/desktop/backgrounds/bg-05-london.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//       background-repeat: no-repeat;
//       background-size: cover;      
//     }           

//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-05-london.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // }
//   }    

//   &--5{
//       background: 0px 16.5rem url('../assets/images/desktop/backgrounds/bg-06-sing.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;     
//       @include bp(2600){
//         background: 0px 9.5rem url(../assets/images/desktop/backgrounds/bg-06-sing.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }
//       @include bp(2400){
//         background: 0px 13.5rem url(../assets/images/desktop/backgrounds/bg-06-sing.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }
//       @include bp(2200){
//         background: 0px 15.5rem url(../assets/images/desktop/backgrounds/bg-06-sing.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }   
//       @include bp(2000){
//         background: 0px 16.2rem url(../assets/images/desktop/backgrounds/bg-06-sing.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }      
//       @include bp(1900){
//         background: 0px 18.2rem url(../assets/images/desktop/backgrounds/bg-06-sing.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }      
//       @include bp(1400){
//         background: 0px 14.7rem url(../assets/images/desktop/backgrounds/bg-06-sing.png), url(../assets/images/desktop/backgrounds/bg-02.png);
//         background-repeat: no-repeat;
//         background-size: cover;        
//       }                  
//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-06-sing.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // }
//   }       

//   &--6{
//       background: 0px 12.5rem url('../assets/images/desktop/backgrounds/bg-07-sp.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;
//       @include bp(2600){
//         background: 0px 2.5rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }  
//       @include bp(2400){
//         background: 0px 6.5rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }  
//       @include bp(2100){
//         background: 0px 9.5rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }        
//       @include bp(1900){
//         background: 0px 12.5rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }              
//       @include bp(1500){
//         background: 0px 15.5rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }   
//       @include bp(1400){
//         background: 0px 16.5rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }                              
//     // @include bp(ht1){
//     //   background: 0px 15rem url("../assets/images/desktop/backgrounds/bg-07-sp.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//     //   background-repeat: no-repeat;
//     //   background-size: cover;
//     // } 
//   } 

//   &--7{
//       background: 0px 16.5rem url('../assets/images/desktop/backgrounds/bg-08-sydney.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;    

//     @include bp(2400){
//       background: 0px 18.5rem url("../assets/images/desktop/backgrounds/bg-08-sydney.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//     @include bp(2300){
//       background: 0px 20.5rem url("../assets/images/desktop/backgrounds/bg-08-sydney.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//       background-repeat: no-repeat;
//       background-size: cover;
//     }    
//     @include bp(2100){
//       background: 0px 21.5rem url("../assets/images/desktop/backgrounds/bg-08-sydney.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//       background-repeat: no-repeat;
//       background-size: cover;
//     }  
//     @include bp(1900){
//       background: 0px 23.5rem url("../assets/images/desktop/backgrounds/bg-08-sydney.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//       background-repeat: no-repeat;
//       background-size: cover;
//     }    
//     @include bp(1800){
//       background: 0px 24.5rem url("../assets/images/desktop/backgrounds/bg-08-sydney.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//       background-repeat: no-repeat;
//       background-size: cover;
//     }              
//   } 

//   &--8{
//       background: 0px 19.9rem url('../assets/images/desktop/backgrounds/bg-09-sf.png'), 
//       url('../assets/images/desktop/backgrounds/bg-02.png');
//       background-repeat: no-repeat;
//       background-size: cover;     
//       @include bp(2400){
//         background: 0px 14.5rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }  
//       @include bp(2300){
//         background: 0px 16.5rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       } 
//       @include bp(2100){
//         background: 0px 18.5rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }   
//       @include bp(2000){
//         background: 0px 18.9rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }    
//       @include bp(1900){
//         background: 0px 20.9rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }  
//       @include bp(1700){
//         background: 0px 22.9rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }
//       @include bp(1500){
//         background: 0px 23.9rem url("../assets/images/desktop/backgrounds/bg-09-sf.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//         background-repeat: no-repeat;
//         background-size: cover;
//       }                                        
//   } 

//   &--9{
//       background: 0px 11.5rem url('../assets/images/desktop/backgrounds/bg-10-chicago.png'), 
//       url('../assets/images/desktop/backgrounds/bg-01.png');
//       background-repeat: no-repeat;
//       background-size: cover;    
//     @include bp(2400){
//       background: 0px 18.5rem url("../assets/images/desktop/backgrounds/bg-10-chicago.png"), url("../assets/images/desktop/backgrounds/bg-02.png");
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//   }       
//   &--active{
//     opacity: .99;    
//   }
// }

/**ERIN FIXIN**/
.blue-city-bg{
  background-image:  url("../assets/images/desktop/backgrounds/bg-02.png");
  opacity: 1!important;
}
.city__bg {
  height: 100vh;
  min-width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity .3s;
  background-repeat: no-repeat!important;
  background-size: cover;
}
@media screen and (max-width: 2600px) {
  .city__bg {
    background-size: 2600px;
  }
}
@media screen and (max-width: 2000px) {
  .city__bg {
    background-size: 2000px;
  }
}
@media screen and (max-width: 1600px) {
  .city__bg {
    background-size: 1600px;
  }
}
@media screen and (max-width: 1200px) {
  .city__bg {
    background-size: 1200px;
    background-position-y: 241px;
  }
}
@media screen and (max-width: 1024px) {
  .city__bg {
    background-size: cover;
  }
}

.city__bg--0 {
    background-image: url("../assets/images/desktop/backgrounds/bg-01-sf.png");
  background-position-y:220px;
}
@media screen and (max-height: 930px) {
  .city__bg--0 {
    background-position-y: -20px; } }
 @media screen and (max-width: 2000px) {
  .city__bg--0 {
    background-position-y: 180px; } }
 @media screen and (max-width: 2000px) and (max-height: 930px) {
  .city__bg--0{
    background-position-y: 20px;
  }
}
@media screen and (max-width: 1600px) {
  .city__bg--0{
    background-position-y:250px ;
  }
  @media screen and (max-height: 875px) {
    .city__bg--0{
      background-position-y:139px ;
    }
  }
}

 .city__bg--1 {
   background-image:url("../assets/images/desktop/backgrounds/bg-02-paris.png");
   background-size: 121%!important;
  background-position-y: 250px;
  }
@media screen and (max-width: 1600px) {
    .city__bg--1{
      background-position-y: 170px;
      background-position-x: 0px;
      background-size: 1611px!important;
    }
}
@media screen and (max-width: 1200px) {
    .city__bg--1{
      background-size: 1600px!important;
      background-position-y: 189px;

    }
}

.city__bg--2 {
    background-image:  url("../assets/images/desktop/backgrounds/bg-03-tokyo-c.png");
    background-position-y: -166px;
}
@media screen and (max-width: 1600px) {
  .city__bg--2{
    background-size: 1640px!important;
    background-position-y: -223px; 
    }
}

.city__bg--3 {
  background-image: url("../assets/images/desktop/backgrounds/bg-04-ny-d.png");
  background-position-y: -170px;
}
@media screen and (max-width: 1600px) {
    .city__bg--3{
      background-position-y: -186px;
    }
}
@media screen and (max-width: 1200px) {
      .city__bg--3 {
        background-position-y: 0px;
      }
}


.city__bg--4 {
  background-image: url("../assets/images/desktop/backgrounds/bg-05-london.png");
    background-position-y: 310px;
}

@media screen and (max-width: 2000px) {
  .city__bg--4 {
    background-image:  url("../assets/images/desktop/backgrounds/bg-05-london.png");
    background-position-y: 535px;
  }

  @media screen and (max-height: 875px){
    .city__bg--4 {
      background-position-y: 315px;
    }
  }
}
@media screen and (max-width: 1600px) {
    .city__bg--4 {
      background-position-y: 367px;
    }
  }
@media screen and (max-width: 1200px) {
    .city__bg--4 {
      background-position-y: 386px;
    }
  }


  /**BG 5**/
.city__bg--5 {
    background-image: url("../assets/images/desktop/backgrounds/bg-06-sing.png");

    background-position-y: 0px;
  }
@media screen and (max-width: 2000px) {
  .city__bg--5 {
    background-position-y: 184px;
  }

  @media screen and (max-height: 875px){
  .city__bg--5 {
    background-position-y: 87px;
  }

  @media screen and (max-height: 875px){
    .city__bg--5 {
      background-position-y: 75px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .city__bg--5 {
    background-position-y: 199px;
  }
}






/**BG 5**/
  .city__bg--6 {
background-image: url("../assets/images/desktop/backgrounds/bg-07-sp.png");

    background-position-y: 0px;
  }

@media screen and (max-width: 2000px) {
  .city__bg--6 {
    // background-position-y: 443px;  
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position-y: 15px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .city__bg--6 {
    background-size: 1600px;
      background-position-y: 90px;
    }
  }
@media screen and (max-width: 1200px) {
  .city__bg--6 {
    background-position-y: 85px; } }




.city__bg--7 {
    background-image: url("../assets/images/desktop/backgrounds/bg-08-sydney.png"); }

@media screen and (max-height: 875px){
  .city__bg--7 {
  background-image: url("../assets/images/desktop/backgrounds/bg-08-sydney.png");
    background-position-y: 0px; 
  }
}
@media screen and (max-width: 2000px) {
 .city__bg--7 {
  background-position-y: 215px; 
  } 
}
@media screen and (max-width: 1600px) {
 .city__bg--7 {
    background-position-y: 299px;
  }
}
@media screen and (max-width: 1200px) {
 .city__bg--7 {
    background-position-y: 600px;
  }

  @media screen and (max-height: 875px){
   .city__bg--7 {
background-position-y: 329px;
  } }

  .city__bg--8 {
    background-image: url("../assets/images/desktop/backgrounds/bg-09-sf.png");
    background-position-y: 0px; 
  }
@media screen and (max-width: 2000px) {
  .city__bg--8 {
    background-position-y: 115px;
  }
}
@media screen and (max-width: 1600px) {
    .city__bg--8 {
      background-position-y: 235px;
    }
  }
}
@media screen and (max-width: 1200px) {
    .city__bg--8 {
      background-position-y: 285px;
    }
  }

/* BG9*/

 //  .city__bg--9 {
 //    background-image:  url("../assets/images/desktop/backgrounds/bg-results-overlay.png"),
 //    url("../assets/images/desktop/backgrounds/bg-10-chicago.png"),
 //    url("../assets/images/desktop/backgrounds/bg-02.png"),;
 //    background-repeat: no-repeat;
 //    background-size: cover;
 //  }

 //  @media only screen and (max-height: 875px) {
 //      .city__bg--9 {
 //        // background: 
 //        // 0px 18.5rem url("../assets/images/desktop/backgrounds/bg-10-chicago.png"),;
 //        // background-repeat: no-repeat;
 //        // background-size: cover;
 //            // background:  
 //            // url("../assets/images/desktop/backgrounds/bg-results-overlay.png"),
 //            // 0px 10.5rem url("../assets/images/desktop/backgrounds/bg-10-chicago.png"),
 //            // url("../assets/images/desktop/backgrounds/bg-02.png"),;
 //            // background-repeat: no-repeat;
 //            // background-size: cover;
 //        background-position-y: 0px; } 
 //      }
 // @media screen and (max-width: 2000px) {
 //  .city__bg--9 {
 //    background-position-y: 443px; } }   

 //   @media screen and (max-width: 1900px) {
 //  .city__bg--9 {
 //    background-position-y: 0px; } }  
 // @media screen and (max-width: 2000px) and (max-height: 875px) {
 //  .city__bg--9 {
 //    background-position-y: 15px; } }
 // @media screen and (max-width: 1600px) {
 //  .city__bg--9 {
 //    background-position-y: 506px; } }
 // @media screen and (max-width: 1600px) and (max-height: 875px) {
 //  .city__bg--9 {
 //    background-position-y: 235px; } }
 // @media screen and (max-width: 1200px) {
 //  .city__bg--9 {
 //    background-position-y: 600px; } }
 // @media screen and (max-width: 1200px) and (max-height: 875px) {
 //  .city__bg--9 {
 //    background-position-y: 285px; } }


 .city__bg--9 {
    background-image: url("../assets/images/desktop/backgrounds/bg-02.png");
    background-image: url("../assets/images/desktop/backgrounds/bg-10-chicago.png");
    background-position-y: 0px; 
  } 

  .city__bg--9b {
  background-image: url("../assets/images/desktop/backgrounds/bg-results-overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top  ;
  opacity: 1!important;}

@media screen and (max-width: 2000px) {
  .city__bg--9 {
    background-position-y: 443px; } }

@media screen and (max-width: 1900px) {
  .city__bg--9 {
    background-position-y: 15px; } }

@media screen and (max-width: 1600px) {
  .city__bg--9 {
    background-position-y: 235px; } }

@media screen and (max-width: 1200px) {
  .city__bg--9 {
    background-position-y: 285px; } }

  .city__bg--active {
    opacity: .99; }
