.c-d_none{
	display: none;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.c-u-marg-bot__1{
	margin-bottom: -0.65rem;
}
.c-u-marg-bot{
	margin-bottom: 1.05rem;
}
.c-u-marg-bot--2{
	margin-bottom: 0.65rem;
}
.c-u-marg-bot--3{
	margin-bottom: 1.4rem;
}
.c-u-marg-bot--1{
	margin-bottom: 2rem;
}
.c-u-marg-left--1{
  margin-left: 6.15rem;
}

.c-u-marg-top--1{
	margin-top: 0.65rem;
}
.c-u-marg-top--4{
  margin-top: 0.90rem;
}
.c-u-marg-top--2{
	margin-top: 1.2rem;
}
.c-u-marg-top--3{
  margin-top: 1.4rem;
}


.c-u-marg-top_1{
	margin-top: -0.40rem;
}
.c-u-marg-top_2{
  margin-top: -0.85rem;
}
.mobile-tracker{
  display: none;
}
.mobile{
  display: none;
}
.phone-c-u-marg-left--1{
	@include bp(767){
		margin-left: 40px;
	}
}
@include bp(767){
	.c-u-pmarg-top{
		margin-top: 0;
	}
}