.container-comparison{

	float: left;
	width: 100%;
	&__header{
		height: 16.80rem;
	}
	&__main{
		height: 27.80rem;
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(8),
		&:nth-child(10),{
			position: relative;
			background-color: rgba(255,255,255,.1);		
			
		}
	}
}

.backdrop{
	width: 10000%;
	height: 100%;
	position: absolute;
		&--1{
			background-color: rgba(0,0,0,.2);
		}	
}

.comparison{
	&__content{
    width: 63.10rem;
    padding-left: 72px;
  	padding-top: 2.10rem;
		padding-bottom: 0.75rem;
    margin: 0 auto;
    padding-right: 0.45rem;
	}

	&__main{
		display: flex;
		// background-color: orangered;
		&--text{
			color: #fff;
		}
	}
	&__left{
		// background-color: blue;
		height: 14.90rem;
		flex: 0 0 20.45rem;
		margin-right: 2.40rem;
		display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &--1{
    	display: block;
    	padding-left: 2.95rem;
    	margin-right: 2.30rem;
    }
	}
	&__right{
		// background-color: pink;
		height: 14.90rem;
		flex: 0 0 28.35rem;
	}
	&__cloud--container{
		flex: 0 0 9.05rem;
		height: 14.05rem;
		// background-color: black;
		position: relative;
	}
	&__score{
		
		&--container{
			flex: 0 0 8.30rem;
			height: 100%;
			// background-color: grey;
		}
		&--text{
			font-size: 1.05rem;
			font-family: $font-reg;
			color: #BDE6EE;
			transform: translateY(-0.30rem);

		}
		&--user,
		&--peers{
			font-family: $font-lt;
			font-size: 6.00rem;
			color: #fff;
			height: 6rem;
			margin-top: 1.50rem;		
			.mac &{
				transform: translateY(.6rem)
			}	
		};
		&--peers{
			color: #F29111;	
		}
	}
	&__social{
		width: 19.75rem;
		display: flex;	
		justify-content: space-between;	
		&--icon{
			flex: 0 0 3.20rem;
			height: 3.20rem;
			cursor: pointer;
		}
	}	
	&__conclusion{
		display: flex;
		justify-content: space-between;
		&--left{
			flex: 0 0 20.85rem;
			color: #fff;
		}
		&--right{
			flex: 0 0 32.25rem;
		}
		&--header{
			font-size: 0.80rem;
			line-height: 1.05rem;			
		}
		&--text{
			font-size: 0.70rem;
			display: block;
			font-family: $font-reg;
			&-1{
				color: #fff;
				line-height: 1.05rem;
			}
		}
	}
	&__bullet{
		display: flex;
    align-items: center;

    &:not(:last-of-type){
    	margin-bottom: 1.25rem;
    }
	}
	&__arrow{
		flex: 0 0 1.05rem;
		height: 1.05rem;
		margin-right: 0.85rem;
	}

	&__bullets{
		font-size: 0.80rem;
		line-height: 0.90rem;
		font-family: $font-lt;
		color: #fff;
		&:not(:last-of-type){
			margin-bottom: 0.50rem;
		}
		& > span {
			font-family: $font-bold;
			color: #F29111;
		}

	}
}

.modal{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	position: absolute;
	z-index: 10;
	
	& ~ *{
		filter: blur(5px);
	}
	&__radio{
		display: none;

		&:checked ~ .modal,
		&:checked ~ label{
			display: none;
		}
		&:checked ~ .nav-bar,
		&:checked ~ .book-slider{
			filter: blur(0px);
		}
		&--container{
			position: absolute;
			z-index: 11;
			background-color: red;
			filter: blur(0px);
			cursor: pointer;
	    transform: translateY(-1.75rem);
		}
		&--text{
			color: #fff;
		}
	}
}

#comparison{
  padding-top: 5rem;
}
#comparison .container--4{
  height: auto;
}
