.container-comparison{

	float: left;
	width: 100%;
	&__header{
		height: 16.80rem;
		background-color: orangered;
	}
	&__main{
		height: 27.80rem;
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(8),
		&:nth-child(10),{
			position: relative;
			background-color: green;		
			
		}
	}
}

.backdrop{
	width: 10000%;
	height: 100%;
	position: absolute;
		&--1{
			background-color: rgba(0,0,0,.2);
		}	
}

.comparison{
	&__content{
    width: 63.10rem;
    padding-left: 72px;
  	padding-top: 2.10rem;
		padding-bottom: 0.75rem;
    margin: 0 auto;
    padding-right: 0.45rem;
	}
}
