.container-comparison{

	float: left;
	width: 100%;
	&__header{
		height: 16.80rem;
		margin-top: 	5.00rem;
		@include bp(767){
			height: 	auto;
	    padding-bottom: 20px;
		}
	}
	&__main{
		height: 27.80rem;
		@include bp(767){
	    height: auto;
	    padding-top: 30px;
	    padding-bottom: 30px;
		}
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(8),
		&:nth-child(10),{
			position: relative;
			background-color: rgba(255,255,255,.1);		
			
		}
	}
}

.backdrop{
	width: 10000%;
	height: 100%;
	position: absolute;
		&--1{
			background-color: rgba(0,0,0,.2);
		}	
}

.comparison{
	&__content{
    width: 63.10rem;
    padding-left: 72px;
  	padding-top: 2.10rem;
		padding-bottom: 0.75rem;
    margin: 0 auto;
    padding-right: 0.45rem;
    @include bp(767){
    	width: 100%;
    	padding: 0;
    }
	}

	&__main{
		display: flex;
		// background-color: orangered;
		&--text{
			color: #fff;

			@include bp(767){
				font-size: 14px;
				padding-right: 0;
			}
		}
		@include bp(767){
			flex-direction: column;
		}
	}
	&__left{
		// background-color: blue;
		height: 14.90rem;
		flex: 0 0 20.45rem;
		margin-right: 2.40rem;
		display: flex;
    align-items: flex-end;
    justify-content: space-between;
		@include mar-phone15;
		@include bp(767){
	    height: auto;
	    flex: 1;	    
		}


    &--1{
    	display: block;
    	padding-left: 2.95rem;
    	margin-right: 2.30rem;
    	@include bp(767){
    		padding-left: 0;
    	}
    }
	}
	&__right{
		// background-color: pink;
		height: 14.90rem;
		flex: 0 0 28.35rem;
		@include bp(767){
	    height: auto;
	    flex: 0 0 100%;			
			margin-top: 20px;
		}

		@include mar-phone15;
	}
	&__cloud--container{
		flex: 0 0 9.05rem;
		height: 14.05rem;
		// background-color: black;
		position: relative;
		@include bp(767){
			display: none;	
		}		
	}
	&__score{
		
		&--container{
			flex: 0 0 8.30rem;
			height: 100%;
			// background-color: grey;
			@include bp(767){
				flex: 0 0 100%;
    		display: flex;
		    padding-left: 43px;
		    justify-content: space-between;    		
			}
		}
		&--text{
			font-size: 1.05rem;
			font-family: $font-reg;
			color: #BDE6EE;
			transform: translateY(-0.30rem);
			@include bp(767){
				font-size: 14px;
			}
		}
		&--user,
		&--peers{
			font-family: $font-lt;
			font-size: 6.00rem;
			color: #fff;
			height: 6rem;
			margin-top: 1.50rem;		
			.mac &{
				transform: translateY(.6rem)
			}	
			@include bp(767){
				font-size: 60px;
				height: 35px;
				margin-top: 10px;
			}
		};
		&--peers{
			color: #F29111;	
		}
	}
	&__social{
		width: 19.75rem;
		display: flex;	
		justify-content: space-between;	
		&--icon{
			flex: 0 0 3.20rem;
			height: 3.20rem;
			cursor: pointer;
			@include bp(767){
				flex: 0 0 35.9px;
				height: 35.9px;	
			}
		}
		@include bp(767){
	    width: 290px;
	    padding-left: 15px;
	    padding-right: 15px;
		}
	}	
	&__conclusion{
		display: flex;
		justify-content: space-between;
		@include bp(767){
			flex-direction: column;
		}
		&--left{
			flex: 0 0 20.85rem;
			color: #fff;
			@include bp(767){
		    flex: 0;
			}
			@include mar-phone15;
		}
		&--right{
			flex: 0 0 32.25rem;
			@include bp(767){
				margin-top: 35px;
			}
			@include mar-phone15;
		}
		&--header{
			font-size: 0.80rem;
			line-height: 1.05rem;
			@include bp(767){
				font-size: 14px;
				line-height: normal;
			}			
		}
		&--text{
			font-size: 0.70rem;
			display: block;
			font-family: $font-reg;
			@include bp(767){
				font-size: 14px;
				line-height: normal;
			}						
			&-1{
				color: #fff;
				line-height: 1.05rem;
				@include bp(767){
					line-height: 21px;
				}
			}
		}
	}
	&__bullet{
		display: flex;
    align-items: center;

    &:not(:last-of-type){
    	margin-bottom: 1.25rem;
    	@include bp(767){
    		margin-bottom: 15px;
    	}
    }
    @include bp(767){
	    align-items: flex-start;
    }
	}
	&__arrow{
		flex: 0 0 1.05rem;
		height: 1.05rem;
		margin-right: 0.85rem;
		@include bp(767){
			flex: 0 0 21px;
			height: 21px;

		}
	}


	&__bullets{
		font-size: 0.80rem;
		line-height: 0.90rem;
		font-family: $font-lt;
		color: #fff;
		&:not(:last-of-type){
			margin-bottom: 0.50rem;
		}
		& > span {
			font-family: $font-bold;
			color: #F29111;
		}

	}
}

.modal{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	position: absolute;
	z-index: 10;
	
	& ~ *{
		filter: blur(5px);
	}
	&__radio{
		display: none;

		&:checked ~ .modal,
		&:checked ~ label{
			display: none;
		}
		&:checked ~ .nav-bar,
		&:checked ~ .book-slider{
			filter: blur(0px);
		}
		&--container{
			position: absolute;
			z-index: 11;
			background-color: red;
			filter: blur(0px);
			cursor: pointer;
	    transform: translateY(-1.75rem);
		}
		&--text{
			color: #fff;
		}
	}
}

#comparison{
  padding-top: 5rem;
}
#comparison .container--4{
  height: auto;
}
