.pull-right {float: right;}
.pull-left {float: left;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.underline {text-decoration: underline;}
.left-flush{margin-left:-7.1rem;}
.right-flush{margin-right:-7.1rem;}


.phone_only,
.tablet_only, 
.tablet_only_span, 
.tablet-only  {display: none;}
.flexer {display: flex;}
img.tablet-only{display: none;}
.desktop_only {display: inline-block;}
.cursor{cursor: pointer;}
.auto-height{height:auto;}
.float-l{float: left;}
img.inline{display: inline-block;}
.float-r{float: right;}
.float-reset{float: unset;}
.relative{position: relative;}
.block{display: block;}
.inline{display: inline-block;}
.absolute{position: absolute;}
.float-r{float: right;}
.vert-top{vertical-align: top;}
.bot-none{margin-bottom: 0px;}
.width-1{width: 91%;};


.letter-0{letter-spacing: 0;}
.tight{letter-spacing: -.005em;}
.tighter{letter-spacing: -.01em;}
.tighter1{letter-spacing: -.02em;}

.background__white--1{background-color: rgba(255,255,255,.1);}


.width-70{width: 70%;}
.width-80{width: 80%;}
.width-90{width: 90%;}
.width-95{width: 95%;}
.u-width-1{width: 10.10rem;}
.marg-center{margin: 0 auto;}
.marg-left{margin-left: auto;}
.marg-top-tiny--1{margin-top: 0.10rem;}
.marg-top-tiny{margin-top: 0.20rem;}
.marg-top-tiny--2{margin-top: 0.25rem;}
.marg-top-reg-5{margin-top: 0.4rem;}
.marg-top-reg-4{margin-top: .5rem;
	@include bp(767){
		margin-top: 0;
	}
}
.marg-top-reg-3{margin-top: 0.55rem;}
.marg-top-reg-1{margin-top: .7rem;}
.marg-top-reg-6{margin-top: .8rem;}
.marg-top-reg-2{margin-top: .85rem;}
.marg-top-reg{margin-top: 0.90rem;}
.marg-top-reg--1{margin-top: 1rem;}
.marg-top-med{margin-top: 1.05rem}
.marg-top-med--2{margin-top: 1.20rem}
.marg-top-med--1{margin-top: 1.45rem;}
.marg-top-med--3{margin-top: 1.5rem;}
.marg-top-med--4{margin-top: 1.35rem;}
.marg-top-med--6{margin-top: 1.65rem;}
.marg-top-med--5{margin-top: 1.75rem;}
.mar-top-large--9{margin-top: 1.5rem;}
.mar-top-large--5{margin-top: 2.25rem;}
.mar-top-large{margin-top: 2.40rem;}
.mar-top-large--6{margin-top: 2.50rem;}
.mar-top-large--11{margin-top: 2.60rem;}
.mar-top-large--1{margin-top: 2.75rem;}
.mar-top-large--8{margin-top: 2.55rem;}
.mar-top-large--12{margin-top: 3rem;}
.mar-top-large--7{margin-top: 3.1rem;}
.mar-top-large--10{margin-top: 3.90rem;}
.mar-top-large--4{margin-top: 14.10rem;}
.mar-top-large--2{margin-top: 4.55rem;}
.mar-top-large--3{margin-top: 4.80rem;}
.marg-bot-large{margin-bottom: 1.45rem;}
.marg-bot-reg{margin-bottom: 0.65rem;}
.marg-bot-reg--1{margin-bottom: 1.5rem;}

.port-n{@include bp(910){display: none;}}
.port-w-95{@include bp(910){width: 95%;}}
.port-ls-1{@include bp(910){letter-spacing: -.01em;}}







