.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0rem;
  box-sizing: border-box;
  
  @include clearfix;

	&__overlay{
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 100;
	}

	&-1-col{
	    height: 40.00rem;
	    padding: 4.95rem 0rem 0rem 3.55rem;
	    width: 100%;
	    float: left;
	}
	&-left-3-col{
	    padding: 4.60rem 2.25rem 0 2.20rem;
	    float: left;
	    width: 34%;
	    height: 80rem;

	}
	&-mid-3-col{
	    padding: 4.60rem 1.25rem 0 1.60rem;
	    float: left;
	    width: 32%;
	    height: 80rem;
	}
	&-right-3-col{
	    padding: 4.60rem 2.65rem 0 1.80rem;
	    float: left;
	    width: 34%;
	    height: 40rem;
	}
	&-right-2-col{
	    height: 40rem;
	    padding: 6rem 2.25rem 0 3.85rem;
	    width: 50%;
	    float: left;
	}
	&-left-2-col{
	  height: 40.00rem;
	  padding: 6rem 2.55rem 0 3.55rem;
	  width: 50%;
	  float: left;
	}

	&__test{
		max-width: 60.00rem;
    height: 35.00rem;
    margin: 2.50rem auto;
	}
}
.container{
	
	&--1{
    display: flex;
    flex-direction: column;
		padding: 0 3.20rem;
	}
	&--2{
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 1rem;
    width: 100%;
		// padding-right: 3.20rem;
	}
	&--2_1{
		bottom: 1rem;
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 100%;
	}	
	&--3{
    display: flex;
    flex-direction: column;
		padding: 0 3.20rem;
		padding-right: 0;
	}
	&--4{
		padding: 0;
		&-overlay{
			position: absolute;
			z-index: 100;
			height: 100%;
			width: 100%;
		}
	}


	&-legend{
		display: flex;
    align-items: center;
		
		&:not(:last-of-type){
			margin-right: 2rem;
		}
		&__circle{
			flex: 0 0 0.90rem;
			height: .9rem;
			border-radius: 50%;
	    margin-right: 0.62rem;

				&--1{
					background-color: #BDE6EE;
				}	
				&--2{
					background-color: #F29111;
				}
		}
	}

	&-dial{
    display: flex;		
		justify-content: space-between;
    &--1{
	    padding: 0 9.15rem;
    }
	}
	&-thermo{
		display: flex;
	}
	&-check-boxer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		width: 100%;
		&--overlay{
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 100;
		}
	}
}


.content-holder{
	// height: 100%;
	position: relative;
	&--1{
		height: 100%;
	}
}